<div class="row">
  <div class="sm-12 md-8 col">
    <div class="paper">

      <router-outlet></router-outlet>

      <article class="article">
        <h1 class="article-title"><a href="">Article Title</a></h1>
        <p class="article-meta">Written by <a href="#">Super User</a></p>
        <p class="text-lead"> Lorem... </p>
        <p>Lorem...</p>

        <div class="row">
          <button>Read More</button>
          <button>5 Comments</button>
        </div>
      </article>
    </div>
  </div>
  <div class="sm-12 md-4 col sidebar">
    <div class="paper">
      Aside
    </div>
  </div>
</div>
